body {



}

*:not(.selectable){
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.square {
    width: 100px;
    height:100px;
    display: inline-block;
	background: url('../terrain/terrain.png');	
	
}

.terrain-swamp{

	background: url('../terrain/grass4.png');
	
}

.terrain-forest {
	background-position: -300px 0px;
}

.terrain-marsh {
	background: url('../terrain/grass6.png');
}

.terrain-plains {
	background-position: 0px 0px;
}

.terrain-river {
	background-position: -100px 0px;
}

.cell-road {
	background-position: -200px 0px;
}

.cell-bridge {
	background-position: -600px 0px;
}

.cell-bridgeCanal {
	background-position: -700px 0px;
}

.cell-canal {
	background-position: -800px 0px;
}

.cell-cottage {
	background-position: -500px 0px;
}

.cell-church {
	background: white;
}

.cell-graveyard {
	background-position: -400px -100px;
}

.cell-factory {
	background-position: -200px -100px;
}

.cell-factory2 {
	background-position: -100px -100px;
}

.cell-factory3 {
	background-position: 0px -100px;
}

.cell-factory4 {
	background-position: -300px -100px;
}

.cell-farm {
	background-position: -400px 0px;
}


.cell-erase {
	background-position: 0px 0px;
}

.cell-empty{
}


.row {

	display: block;
	height: 100px;
	width: 3200px
}

.menu {
	height: 42px;
	padding: 0;
	margin-bottom: 20px;
	display: inline-block;
	list-style-type: none;
	position: fixed;
	

}

.menuButton {
	height: 30px;
	width: 100px;
	border: 1px solid black;
	background: #d1c18a;
	text-align: center;
	padding: 10px;
	display: inline-block;
	
}

.menuButton:hover {
	
}

